.footer-container {
    background: #1D1C1C;
    margin-top: 20px;
    padding-bottom: 20px;
}

.footer-para {
    text-align: center;
    color: #FFFFFF;
    padding-top: 10px;
    margin-bottom: 0;
}

.footer-socialmedia-links {
    display: flex;
    justify-content: center;
    width: 100%;
}

.github-icon {
    width: 16px;
}

.twitter-icon {
    width: 20px;
}

.facebook-icon {
    width: 16px;
}